{% extends 'base.html.twig' %}

{% block title %}APF - Anagram Pseudo Finder{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/result.css') }}"/>
{% endblock %}

{% block css %}

    {% if not result.finished %}
        #share {
        display:none;
        }

        #filter {
        display:none;
        }
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% include "includes/result_js.html.twig" %}

    <script type="text/javascript">
        ready(() => {
            {% if not result.finished and result.slug != "" %}
            callJson();
            {% endif %}
            document.addEventListener('click', function (event) {
                if ((event.target.id == "btnFilter0") || (event.target.id == "btnFilter1") || (event.target.id == "btnFilter2")) {
                    filterResults(event.target.id);
                }
            }, false);

        });
    </script>

{% endblock %}

{% block body %}
    {% if result.finished %}
        <h2>{{ result.countAnagrams }} anagrams found for : {{ result.search }}</h2>
    {% else %}
        <h2>Search anagrams for : {{ result.search }}</h2>
    {% endif %}
    <div id="share">Share this result : <a
                href="{{ url("permalink", {name: result.searchSlugified, id: result.id}) }}">{{ url("permalink", {name: result.searchSlugified, id: result.id}) }}</a>
    </div>
    <div id="filter">
        <p>Limit to :
            <button class="btnFilter" id='btnFilter1'>Female, unisex & unknown</button>
            <button class="btnFilter" id='btnFilter2'>Male, unisex & unknown</button>
        </p>
    </div>
    {% if result.finished %}
        <div id="resultDiv">
            <ul id="resultList">
                {% for anagram in result.getSortedAnagrams %}
                    <li class="gender gender{{ anagram.g }}">{{ anagram.s }} {{ anagram.f }}</li>
                {% endfor %}
            </ul>
        </div>
    {% elseif result.slug == "" %}
        <p style="border:1px solid red; padding:1em;">It seems the name you entered is either too short either doesn't contain any character that we have been able to convert to latin-1 characters. At the moment our algorithm is not able to cope with them, we are sorry.<br/><br/>Please <a href="{{ url("home") }}">try again with another name</a>!</p>
    {% else %}
        <div id="loader">Loading...</div>
        <p id="numFound"></p>
        <div id="progressBar">
            <div id="barStatus"></div>
        </div>
        <div id="resultDiv">
            <ul id="resultList">
            </ul>
        </div>
    {% endif %}
{% endblock %}
