{% if quizz is not null %}
    <div id="quizz">

        {% if quizz.image %}
            <div id="quizzImageHidden" style="display: none; text-align: center">
                <img id="" style="height: 8em; margin-right: 1em;"  src="{{ asset('images/quizz/' ~ quizz.image)}}"/>
                <div><a href="https://commons.wikimedia.org/wiki/File:{{ quizz.commonsFilename }}">&#127279; License on Wikimedia commons</a></div>
            </div>
        {% endif %}
        <div id="quizzImage">?</div>

        <div id="quizzQuestion">
            <p>[Category : {{ quizz.quizzCategory.name }}]</p>
            <h2>My anagram is {{ quizz.anagram }}</h2>
            <p>{{ quizz.question }}</p>
            <h2>I am: <a id='quizzShowAnswer' href="#">show the answer</a><span id="quizzAnswer">{{ quizz.answer }}</span> </h2>
            <hr/>
            {% if pageName == "home" %}
                <p><a href="{{ url("quizz_random") }}">show more quizzes</a></p>
            {% elseif pageName == "random" %}
                <p><a href="{{ url("quizz_random") }}">show another one</a></p>
            {% endif %}
        </div>
    </div>
{% endif %}